.enemy {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  position: absolute;
}

.game-board{
  position: absolute;
/*background-image:url("stars.jpg");*/
}
