body {
  z-index: 100;
}

.enemy {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  background-image: url("asteroid.jpg");
}

.game-board{
  position: absolute;
  background-image:url("stars.jpg");
}

.player{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:green;
  position: absolute;
}
